@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

:root {
  --grey: #667085;
  --red: #8e2424;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Inter", sans-serif;
}

body::-webkit-scrollbar {
  width: 0;
}

/* header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 10vh;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.img-logo {
  width: 50px;
  height: 50px;
  background: url("https://api.iconify.design/fontisto/world-o.svg?color=%238e2424")
    no-repeat center center / contain;
  margin-right: 10px;
}

.name {
  color: var(--grey);
  font-weight: 500;
  font-size: 18px;
}

.menu {
  margin-right: 200px;
}

.menu ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  color: var(--grey);
  font-weight: 500;
  font-size: 16px;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.register button {
  background-color: #fff;
  color: var(--grey);
  border: none;
  cursor: pointer;
  margin-top: 10px;
  font-weight: 500;
  font-size: 14px;
}

.sign-up button {
  background-color: var(--red);
  border-radius: 8%;
  padding: 10px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
}

/* main */
/* about-us */

main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: max-content;
}

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  width: 100vw;
}

.subtitle {
  color: var(--red);
  font-weight: 600;
  font-size: 16px;
}

.title {
  font-weight: 600;
  font-size: 40px;
  margin-top: 10px;
}

.text {
  color: var(--grey);
  text-align: center;
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
}

/* metric */

.metric {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin-top: 80px;
  text-align: justify;
  gap: 30px;
  width: 100vw;
  flex-wrap: wrap;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.number {
  color: var(--red);
  font-weight: 600;
  font-size: 40px;
  width: 200px;
}

.topic {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
  width: 200px;
}

.details {
  color: var(--grey);
  font-weight: 400;
  font-size: 14px;
  flex-wrap: wrap;
  width: 160px;
}

/* talents */

.talents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  width: 100vw;
}

.open-vacancies {
  font-weight: 500;
  font-size: 14px;
  background: rgba(142, 36, 36, 0.05);
  color: var(--red);
  padding: 5px;
  border-radius: 16px;
  margin-bottom: 15px;
}

.looking-talent {
  font-weight: 600;
  font-size: 30px;
  font-family: "Inter";
  margin-bottom: 10px;
}

.remote-team {
  font-weight: 400;
  font-size: 15px;
  color: var(--grey);
  margin-bottom: 50px;
}

.talents img {
  width: 80%;
  margin-bottom: 80px;
}

/* vacancies */

.vacancies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.vacancies-title {
  font-size: 20px;
  margin-bottom: 20px;
}

.vacancies-block {
  border: 1px solid #eaecf0;
  border-radius: 16px;
  width: 50vw;
  height: 100px;
  margin-bottom: 20px;
}

.vacancies-desc {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.vacancies-name {
  font-size: 16px;
  margin: 10px 10px;
}

.vacancies-text,
.vacancies-salary {
  font-size: 14px;
  color: var(--grey);
  margin-top: 10px;
}

.vacancies-text {
  margin-left: 10px;
}

/* Feedback */
.feedback {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 100vw;
}

.feedback-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(196, 25, 25, 0.03);
  border-radius: 16px;
  padding: 10px;
  width: 80vw;
  margin-bottom: 50px;
}

.feedback-subtitle {
  font-weight: 600;
  color: var(--red);
}

.feedback-title {
  margin: 20px 50px;
  font-weight: 500;
  text-align: center;
}

.img-legend {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
}

.img-desc {
  color: var(--grey);
}

/* footer */
.footer {
  display: flex;
  background-color: #f9fafb;
  width: 100vw;
}

.footer-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 50px;
}

.footer-title {
  font-weight: 600;
  margin-bottom: 30px;
}

.footer-desc {
  color: var(--grey);
  font-weight: 400;
  margin-bottom: 40px;
}

.footer-contact {
  margin-bottom: 30px;
}

.footer-email {
  padding: 10px;
  border-radius: 10px;
  width: 250px;
  border: 1px solid #d0d5dd;
  margin-right: 10px;
}

.footer-button {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid var(--red);
  background-color: var(--red);
  color: #fff;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

.direitos {
  color: #98a2b3;
  font-weight: 400;
}

/* Responsividade */

@media screen and (min-width: 768px) and (max-width: 1023px) {
}

@media screen and (max-width: 767px) {
}
